class BulkDeliveryMethods::<%= class_name %> < ApplicationBulkDeliveryMethod
  # To use this delivery method, specify the class option in your notifier.
  #
  #   class MyNotifer < ApplicationNotifier
  #     bulk_deliver_by :<%= file_path %>, class: "<%= class_name %>"
  #   end

  # Specify the config options your delivery method requires in its config block
  required_options # :foo, :bar

  def deliver
    # Logic for sending the notification
  end
end
